.homeDownText{
    width: 60%;
    margin-left: 20%;
}
.homeDownH3 {
    color: transparent;
    background-position: right;
    background-size: 100% 100%;
    background-image: linear-gradient(#d5d4d4, #d5d4d4);
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
  }
  .homeDownH3:hover {
    color: #f1f1f1;
    background-size: 0% 100%;
  }