.homeDownText{
    width: 60%;
}
.spoiler {
    color: transparent;
    background-position: right;
    background-size: 100% 100%;
    background-image: linear-gradient(#a0aec0, #a0aec0);
    display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
  }
  .spoiler:hover {
    color: #000;
    background-size: 0% 100%;
  }