.headerBody {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBox {
  height: 70px;
  width: 98%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 0.1px solid rgb(135, 135, 135);
  box-shadow: rgba(251, 251, 251, 0.2) 0px 7px 29px 0px;
  display: flex;
}
.headerText {
  color: hsl(0, 0%, 28%);
  font-size: 40px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
  margin-top: 10px;
  flex: 3;
}

.headerText span {
  transition: 0.5s ease-out;
}
.headerText:hover span:nth-child(1) {
  margin-right: 5px;
}
.headerText:hover span:nth-child(1):after {
  content: "'";
}
.headerText:hover span:nth-child(2) {
  margin-left: 30px;
}
.headerText:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.headerIconDiv {
  background-color: rgb(0, 0, 0);
  margin-right: 10px;
}
.headerIconLink{
  background-color: rgb(0, 0, 0);
}
.headerIcon{
  color: #fff;
  font-size: 20px;
}
.headerIcon:hover{
  color: rgb(10, 153, 153);
}