.headerBody{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerBox{
    height: 70px;
    width: 98%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: .1px solid rgb(135, 135, 135);
    box-shadow: rgba(251, 251, 251, 0.2) 0px 7px 29px 0px;
    display: flex;
}
